
{% extends "base_docs.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<style>
    td{
        background: #f2f0f5cd;
    }
    body{
            background: #1F1F38;
    }

    a>span.edit:hover{
    /*transform: translateY(-5px);*/
    box-shadow: 0 40px 70px rgba(65, 4, 247, 0.5);
    background-color: rgba(65, 4, 247, 0.5);
    color: #d9d9d9;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    /*box-shadow: 0 40px 70px rgba(8, 247, 4, 0.5);*/
    transition: 0.9s;
    }
    a>span.delete:hover{
    /*transform: translateY(-5px);*/
    box-shadow: 0 40px 70px rgba(65, 4, 247, 0.5);
    background-color: rgba(247, 4, 16, 0.5);
    color: #d9d9d9;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    /*box-shadow: 0 40px 70px rgba(8, 247, 4, 0.5);*/
    transition: 0.9s;
    }
    img.icono_product:hover {
    transform: translateY(-5px);
    position: relative;
    object-fit: cover;
    box-shadow: 0 40px 70px rgba(65, 4, 247, 0.5);
    background-color: rgba(255, 255, 255, 0.982);
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    transition: 1.2s;
    }
    .float-box{
    position: relative;
    min-width: 150px;
    min-height: 60px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
</style>
{% endblock css %}
{% block content %}
<!--
<div  id="pspdfkit-header">

-->
 <!-- panel lateral inicio --> 
   
    <div class="row">
        <div class="col-md-9 "  >
        </div>
         <div class="col-md-3">
            <div class="float-box" style="position:fixed;left:79.1%; background: rgba(18, 40, 243, 0.185);"> 
                <div class="row" style="width: 300px;">
                    <div class="col-12">
                        <div class=" d-flex justify-content-center" >
                            <a href="{% url 'gestionVentas:sales_list' %}" class="btn btn-primary  w-100" style="border-radius: 20px 20px 0 0;">Todas las Ventas</a>   
                        </div>
                        <div class=" d-flex justify-content-center">
                            <button class="btn btn-outline-primary text-white w-100" type="button" data-target="#js-modal-3" data-toggle="modal"
                                data-action="Editar Header" data-title="Editar Header" data-width="modal-lg"
                                data-url="{% url 'gestionVentas:update_head_sale' object.id %}">
                                Editar Header
                            </button>
                        </div>
                        <div class=" d-flex justify-content-center">
                            <button class="btn btn-outline-primary text-white w-100" type="button" data-target="#js-modal-3" data-toggle="modal"
                            data-action="Nuevo Item" data-title="Nuevo Item" data-width="modal-lg"
                            data-url="{% url 'gestionVentas:new_item_sale' object.id %}">
                            Agregar Productos
                        </button>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <button class="btn btn-outline-primary text-white w-100" type="button" data-target="#js-modal-3" data-toggle="modal"
                            data-action="Confirmar Venta" data-title="Confirmar Venta" data-width="modal-md"
                            data-url="{% url 'gestionVentas:confirm_sale' object.id %}">
                            Confirmar Venta
                        </button>
                    </div>
                        <div class=" d-flex justify-content-center">
                            <a class="btn btn-primary text-white w-100" style="border-radius: 0 0 20px 20px ;"  id="download-button">Download as PDF</a>   
                        </div>
                    </div>
                </div>
           </div>  
        </div>
    </div>
  <!-- panel lateral fin -->   
<form class="bg-white" action="" method="POST" enctype="multipart/form-data" class="card card-body">{% csrf_token %}    
     
    <div id="invoice"  style="page-break-after: always">
        <div class="container" style="max-width: 800px;" >
            <div class="row px-5">
                <div class="col-4 pt-5">
                    <div class=" d-flex justify-content-start align-items-center">
                        <img style="height: 150px;" src="{% static 'img/logo.png' %}" />
                    </div>
                </div>            
                <div class="col-4 pt-5">
                        
                    
                </div>
                <div class="col-4 pt-5">
                    <div class="w-100 pt-5 ">
                        <p class="d-flex font-monospace text-secondary font-weight-500 justify-content-center px-2 py-0 my-0" style=" font-size: 20px;">[{{object.consecutivo}}]</p>
                        <p class="d-flex font-monospace text-secondary font-weight-500 justify-content-center align-items-center px-2"  style=" font-size: 0.825rem;">[SALE No.]</p>
                        <p class="d-flex font-monospace text-secondary font-weight-500 justify-content-center align-items-center px-2"  style=" font-size: 0.825rem;">[DETAIL]</p>
                    </div>
                </div>
            </div>
            <div class="row px-5 pt-5">
                <div class="table w-100">
                    <table class=" w-100">
                        <tr class="d-flex justify-content-center ">
                            <td class="p-0" style="border-bottom: 1px solid #D9D9D9; border-right: 1px solid #D9D9D9; width: 50%; font-size: 0.6rem; padding: 0rem;">
                                <p style="font-size: 0.725rem; height: 181px;   margin: 0; padding: 0.125rem;" class="w-100 pl-3">
                                    <span class="pt-3 pb-2 d-flex justify-content-start  w-100 " style="font-size: 0.6rem;   margin: 0; ">Cliente:</span>
                                    {% if object.cliente %}
                                    <span class="d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0; padding: 0;">{{ object.cliente.nombre }}</span>
                                    <span class="d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0; padding: 0;">{{ object.cliente.direccion }}</span>
                                    {% endif %} 
                                </p>
                            </td>
                            <td class="p-0" style="border-bottom: 1px solid #D9D9D9; width: 50%; font-size: 0.625rem" class=" d-flex justify-content-center align-items-center">
                                <p style="border-bottom: 1px solid #D9D9D9;" class="w-100 h-50 pl-3">
                                    {% if object.cliente %}
                                    <span class="pt-3  pb-1 d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0;  ">Fecha de Venta:</span>
                                    <span class="d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0; padding: 0;">
                                        {% if object.fecha_venta == None %}
                                        ---------
                                    {% else %}
                                    {{ object.fecha_venta }}
                                    {% endif %}
                                        
                                    </span>
                                    {% endif %}
                                </p>
                                <p class="w-100 h-50 pl-3 "class="d-flex justify-content-center align-items-center">
                                    {% if object.cliente %}
                                    <span class="pt-3  pb-1 d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0;  ">Contacto</span>
                                    <span class="d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0; padding: 0;">Teléfono: {{ object.cliente.telefono }}</span>
                                    <span class="d-flex justify-content-start  w-100 " style="font-size: 0.625rem;   margin: 0; padding: 0;">Email: {{ object.cliente.email }}</span>
                                    {% endif %}
                                </p>
                            </td>                        
                        </tr>
                                                            
                    </table>
                    <table class="mt-5 w-100">
                        <tr class="d-flex justify-content-center " style=" border-top: 1px solid #D9D9D9; width: 100%; font-size: 0.6rem; padding: 0rem;">
                            <th class="p-0 d-flex justify-content-center" style="width: 10%; font-size: 0.6rem; padding: 0rem;" >ITEM
                            </th>
                            <th class="p-0 d-flex justify-content-center" style="width: 10%; font-size: 0.6rem; padding: 0rem;" >IMG 
                            </th>
                            <th class="p-0 d-flex justify-content-center" style="width: 10%; font-size: 0.6rem; padding: 0rem;" >QTY 
                            </th>
                            <th class="p-0 " style="width: 30%; font-size: 0.6rem; padding: 0rem;" >DESCRIPCIÓN 
                            </th>
                            <th class="p-0 d-flex justify-content-end" style="width: 20%; font-size: 0.6rem; padding: 0rem;" >IVA 
                            </th>
                            <th class="p-0 d-flex justify-content-end " style="width: 20%; font-size: 0.6rem; padding: 0rem;" >VALOR
                            </th>
                        </tr>
                        
                        {% if items_cotizacion %}
                        <!-- INICIA  RENDERIZADO DE ITEMS ADICIONALES  -->
                        {% for  item in items_cotizacion %}
                        <tr class="d-flex justify-content-center " style=" border-top: 1px solid #D9D9D9; width: 100%; font-size: 0.6rem; padding: 0rem;">
                            
                                <td class="p-0  d-flex justify-content-center" style="width: 10%; font-size: 0.6rem; padding: 0rem;" >
                                    <span class="d-flex edit justify-content-center w-100 ">
                                        {{forloop.counter}} 
                                    </span>
                                </td>
                                <td class="p-0 d-flex justify-content-center " style="width: 10%; font-size: 0.6rem; padding: 0rem;" >
                                    <a
                                     class="p-0 m-0  btn-datatable  edit_btn "
                                    data-toggle="modal" data-target="#js-modal-3" data-title="Eliminar Item Venta"
                                    data-width="modal-lg" data-placement="right"                                    
                                    data-url="{% url 'gestionVentas:delete_item_sale_view' item.id %}" title="Eliminar Item Venta"
                                        >
                                        <img class="icono_product" style="height: 1rem; width: 1rem; border-radius: 50%;" src="{{item.producto.imagen.url}}" alt=""> 
                                    </a>
                                </td>
                                <td class="p-0  d-flex justify-content-center" style="width: 10%; font-size: 0.6rem; padding: 0rem;" >
                                    <a class="p-0 m-0  btn-datatable w-100 edit_btn "
                                        data-toggle="modal" data-target="#js-modal-3" data-title="Editar Cantidad"
                                        data-width="modal-lg" data-placement="right"                                    
                                        data-url="{% url 'gestionVentas:update_item_venta' item.id %}" title="Editar Cantidad"
                                            >
                                        <span class="d-flex edit justify-content-center w-100 ">
                                            {{item.cantidad}}
                                        </span>
                                    </a>
                                </td>
                                <td class="p-0 " style="width: 30%; font-size: 0.6rem; padding: 0rem;" >
                                    <span class="text-uppercase">{{item.producto.codigo}}</span>, <span class="">{{item.producto.nombre}}</span> 
                                </td>
                                <td class="p-0 d-flex justify-content-end" style="width: 20%; font-size: 0.6rem; padding: 0rem;" >
                                    <span class="">
                                        {% if item.iva == 0.0 %}
                                            ---------
                                        {% else %}
                                            $  {{item.iva}}
                                        {% endif %}
                                    </span> 
                                    <span class="pl-1">
                                        {% if item.producto.porcentaje_iva == None %}
                                            ---------
                                        {% else %}
                                            [{{item.producto.porcentaje_iva}} %]
                                        {% endif %}
                                    </span> 
                                </td>
                                <td class="p-0 d-flex justify-content-end" style="width: 20%; font-size: 0.6rem; padding: 0rem;" >
                                    {% if item.valor %}
                                        $ {{item.valor}} 
                                    {% else %}
                                            $ 0 
                                    {% endif %}
                                </td>                            
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                        <tr class="d-flex justify-content-center " style=" width: 100%; font-size: 0.6rem; padding: 0rem;">
                            <td class="p-0 d-flex justify-content-center" style=" width: 50%; font-size: 0.6rem; padding: 0rem;" >
                                
                            </td>
                            <td class="p-0 " style="width: 50%; font-size: 0.6rem;" >
                                <p class="p-0 m-0 d-flex justify-content-between" style=" padding: 0rem; border-bottom: 1px solid #D9D9D9;">
                                    <span class="p-0 " style="width: 50%; font-size: 0.6rem; padding: 0rem; ">Subtotal :</span>
                                    <span class="p-0 d-flex justify-content-end" style="width: 50%; font-size: 0.6rem; padding: 0rem;">$ {{totales.subtotal}}</span>
                                </p>
                                <p class="p-0 m-0 d-flex justify-content-between" style=" padding: 0rem; border-bottom: 1px solid #D9D9D9;">
                                    <span class="p-0 " style="width: 50%; font-size: 0.6rem; padding: 0rem; ">IVA :</span>
                                    <span class="p-0 d-flex justify-content-end" style="width: 50%; font-size: 0.6rem; padding: 0rem;">$ {{totales.iva}}</span>
                                </p>
                                <p class="p-0 m-0 d-flex justify-content-between" style=" padding: 0rem; border-bottom: 1px solid #000000; border-top: 1px solid #000000;">
                                    <span class="p-0 " style="width: 50%; font-size: 0.6rem; padding: 0rem; ">Total :</span>
                                    <span class="p-0 d-flex justify-content-end" style="width: 50%; font-size: 0.6rem; padding: 0rem;">$ {{totales.total}}</span>
                                </p>
                                <p  style="font-size: 0.625rem;   margin: 0; padding: 7%"><span  style="font-size: 0.7rem;   margin: 0; padding: 0;">Grácias por confiar en nosotros!</span></p>
                            
                            </td>
                        </tr>
                        
                    </table>
                    
                    <div class="p-0 row d-flex justify-content-start">
                        <div class="col-12 pt-3">
                            <p  style="font-style: italic; font-size: 0.625rem;   margin: 0; padding: 0;"><span class="font-weight-bold" style="font-size: 0.625rem;   margin: 0; padding: 0;">Notas:</span></p>
                            <p  style="font-style: italic; font-size: 0.625rem;   margin: 0; padding: 0;">Cualquier inquietud no dude en comunicarse con nosotros linea Nacional 01800078899999</p>
                            <p  style="font-style: italic; font-size: 0.625rem;   margin: 0; padding: 0;"><span class="font-weight-bold" style="font-size: 0.6rem;   margin: 0; padding: 0;">Garantía:</span> 30 días hábiles. </p>
                            <hr class="mt-3 mb-0" >
                        </div>
                    </div>
                    <div class="pt-1 row d-flex justify-content-start">
                        <div class="col-6 ">
                            <p  style="font-style: italic; font-size: 0.625rem;   margin: 0; padding-top: 15%;"><span class="font-weight-bold" style="font-size: 0.625rem;   margin: 0; padding: 0;">Atendido por:</span></p>
                            <hr class="d-flex align-items-center mt-3 mb-0" >
                        </div>
                        <div class="col-6">
                            <div class="pt-3">
                            <div class="d-flex justify-content-start" style=" font-size: 0.6rem; ">firma Vendedor:</div> 
                            </div>
                            <div class="border border-light-subtle  border-2 d-flex justify-content-center" style="height: 8rem;">
                                <img style="object-fit: cover; width: auto; max-height: 100px;" src="{% static 'img/sign_example.png' %}" alt="">
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
    </div>    
</form> 



{% endblock content %}
{% block js %}
{% include "components/js_modal.html"  %}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js" integrity="sha384-q/gioCoyP7Ot1cPl/TUoiZVdDMOM5ETruQZ2N9viR6yHJdbA1UQTX5LUfFzhbRXC" crossorigin="anonymous"></script>
<script>
    $(function(){
        let totales_div = document.getElementsByClassName('totales')
        let total_ot = document.getElementById('total_ot')
        let totales = 0
        let validar = ''
        for (let i = 0; i < totales_div.length; i++) {
            let total_item = totales_div[i].innerHTML
            let index_totales = total_item.indexOf("total");
            let index_subtotal = total_item.indexOf("subtotal");
            let total = total_item.slice(index_totales+7 , index_subtotal-3)
            if (total == '' ){
                totales_div[i].innerHTML=`Req. verificación`
                validar = 'sin validar' //indico que hay un registro sin validacion
            }
            else{
                totales_div[i].innerHTML=`$ ${total}`
                totales += parseFloat(total)
            }
            
            }
            if (validar == 'sin validar'){
                total_ot.innerHTML  =`Tienes Items sin verificación`
            }
            else{
                total_ot.innerHTML  =`$ ${totales}`
            }
            

    })

    $(function(){
        
        $('#open_menu').on('click',function(){
            let list_menu = document.getElementById('list_menu')
            if (list_menu.style.display == 'none'){
                list_menu.style.display='block'
            }else{
                list_menu.style.display='none'
            }
        
        }
            
        )})

    //generar pdf
    const button = document.getElementById('download-button');
  
    function canvasaimagen(canvas){
    const context = canvas.getContext('2d');
    // Pintar el fondo blanco en el canvas antes de convertirlo a imagen
    context.save();
    context.globalCompositeOperation = 'destination-over'; // Dibuja por detrás del contenido existente
    context.fillStyle = 'white'; // Establecer el color de fondo blanco
    context.fillRect(0, 0, canvas.width, canvas.height);
    context.restore();
    // Convertir el canvas en imagen
    const imgData = canvas.toDataURL('image/png')
    return imgData
}

function generatePDF2() {
const canvas = document.getElementById('myChart');   

//INICIO JSPDF
const { jsPDF } = window.jspdf;
const doc = new jsPDF({compressPDF: true});
if (canvas){
    const imgData = canvasaimagen(canvas)        
    doc.addImage(imgData, 'PNG', 10, 10, canvas.width / 4, canvas.height / 4); // Ajusta el tamaño según sea necesario
}
const element = document.getElementById('invoice');
element.style.width='800px'
let textareas = document.getElementsByTagName('textarea')
for (let i = textareas.length-1  ; i >= 0; i-- ){
  let div = document.createElement("DIV");
  div.setAttribute("contenteditable", "true");
  div.innerText=textareas[i].value
  textareas[i].setAttribute("class", "d-none");
  textareas[i].parentNode.appendChild(div);
}
async function hacer_pdf(){
    doc.html(element,{
        callback: function(pdf) {
            window.open(pdf.output('bloburl'),'_blank')
            //pdf.save('isolates.pdf');
            },
            x:0,
            y:15,
            html2canvas:{ dpi: 192, scale:0.25, letterRendering: true},
            
    })
    return new Promise((resolve) => { resolve('resolved') });
}
hacer_pdf().then(
    setTimeout(() => {
        window.location.reload();
        }, 3000)
    );
    
}
    
  
    button.addEventListener('click', generatePDF2);
  </script>
{% endblock js %}