{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Usuarios{% endblock %}
<body>
{% block content %}
{% include 'components/header.html' with titulo='Usuarios' %}
  <span class="referencia" data-ref="user_list"></span>
  <div class="card px-4 py-5">    
    <div class="card-heder d-flex justify-content-end"> 
      <div class="pr-3">      
        <button class="btn btn-info text-white ml-2" type="button" data-target="#js-modal-3" data-toggle="modal"
              data-action="Crear Orden" data-title="Crear OT" data-width="modal-lg"
              data-url="">
              Registrar Usuario
          </button>
      </div>
    </div>
    <div class="card-body text-white">       
        <span id="selected-rows"></span>
        <div class="table-responsive px-2">
        <table id="Table" class="table table-striped nowrap display table"  cellspacing="0" width="100%">
        <thead class="thead-light">
          <tr>
            <th class="text-center"><input type="checkbox" class="selectAll" name="selectAll" value="all"></th>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tfoot class="thead-light">
          <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Estado</th>
            <th style="width: 200px;">Acciones</th>
          </tr>
        </tfoot>
        <tbody data-toggle="tooltip" data-selector=".has-tooltip"></tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
</body>
{% block css %}
{% endblock css %}
{% block js %}
{% include "components/js_modal.html"  %}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js" integrity="sha384-q/gioCoyP7Ot1cPl/TUoiZVdDMOM5ETruQZ2N9viR6yHJdbA1UQTX5LUfFzhbRXC" crossorigin="anonymous"></script>
<script type="module" src="{% static 'js/components/wm-image-field-docs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" 
    integrity="sha384-GnF+B7IPjgq2orAiXXyQbAE1gEkYZrXQ094h+jt4M8SRBMQY+6MADLdrX70rLoeJ" 
    crossorigin="anonymous">
</script>
<script> 
$(document).ready(function (){
            $(document).ready(function (){
                $('.basicAutoSelect').autoComplete({
                    resolverSettings: {
                        queryKey: 'search[value]',
                    },
                    minLength: 3,
                });
            })
        
           let toolname = null;
           const table = $('#Table').DataTable({
               rowId: 'id',
               //responsive: true,
               ordering: false,
               processing: true,
               serverSide: true,
               lengthChange: false,
               infoCallback: function( settings, start, end, max, total, pre, page ) {
                   num = end-start;
                   if (total == 0) return "Sin resultados";
                   return 'Mostrando '+ (num+1) + " de " + total + " resultados";
               },
               "language": {
                   "processing": "Buscando...",
                   "search": "Buscar:",
                   "paginate": {
                       "first":      "<<",
                        "last":       ">>",
                        "next":       ">",
                        "previous":   "<"
                   },
                   "infoEmpty":      "Mostrando 0 to 0 of 0 resultados",
               },
               ajax: {
                   url: '{% url "abm:listar_users_api" %}',
                   data : function(d){
                            
                   },
               },
               columns: [
                    { data: 'id' },
                    { data: 'username' },
                    {
                        data: 'first_name',
                        render: function (data, type, row, meta) {
                            const words = data.split(' ');
                            const firstName = words.map(function (word) {
                                return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                            }).join(' ');
                    
                            return firstName;
                        }
                    },
                    {
                        data: 'last_name',
                        render: function (data, type, row, meta) {
                            const words = data.split(' ');
                            const lastName = words.map(function (word) {
                                return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                            }).join(' ');
                    
                            return lastName;
                        }
                    },
                    { data: 'email'},
                    { 
                        data: 'is_active',
                        render: function(data, type, row, meta) {
                            if (data == false) return`
                                <span class="text-warning">
                                    <i class="fas fa-minus"></i>
                                </span>  
                            `;
                            return`
                                <span class="text-success">
                                    <i class="fas fa-check-circle"></i>
                                </span>  
                            `
                        }
                    },
                    {
                        data: 'id',
                        render: function(data, type, row, meta) {
                            const urlDetalleUsuario = "".replace(0, data);
                            const username = row['username']
                            const buttonDetalleUsuario = `
                                <a class="btn btn-icon btn-datatable btn-transparent-dark has-tooltip edit_btn"
                                    data-toggle="modal" data-target="#js-modal-3" data-title="Detalle del usuario '${username}'"
                                    data-width="60rem" data-placement="right"
                                    data-url="${urlDetalleUsuario}" title="Ver usuario">
                                    <i class="fas fa-eye"></i>
                                </a>
                            `
                            return`
                                ${buttonDetalleUsuario}
                            `;
                        }
                    }
                ],
               select: {
                   info: false,
                   style: 'multi',
                   selector: 'td:first-child'
               },
           });

           let selected = [];
            const selectAll = document.querySelector('.selectAll');
            const updateSelectedInfo = () => {
                document.getElementById('selected-rows').innerHTML = `${removeDuplicates(selected).length} filas seleccionadas`;
            };

            selectAll.addEventListener('click', ({ target }) => {
                if (target.checked) {
                    table.rows({ page: 'current' }).select();
                    selected.push(...table.rows({ selected: true }).data().map(d => d.id).toArray());
                } else {
                    table.rows({ page: 'current' }).deselect();
                    selected = removeItems(selected, table.rows({ page: 'current' }).data().map(d => d.id).toArray());
                }
                updateSelectedInfo();
            });

            const setSelectAllState = () => {
                selectAll.checked = table.rows({ page: 'current' }).ids().length === table.rows({ page: 'current', selected: true }).ids().length;
            }

            table.on('page.dt', function () {
                setSelectAllState();
            });

            table.on('draw', function () {
                table.rows((idx, data, node) => selected.includes(data.ceco)).select();
                
            });

            table.on('select', function (e, dt, type, indexes) {
                selected.push(table.rows(indexes).data()[0].id);
                setSelectAllState();
                updateSelectedInfo();
            });

            table.on('deselect', function (e, dt, type, indexes) {
                selected.splice(selected.indexOf(table.rows(indexes).data()[0].id), 1);
                setSelectAllState();
                updateSelectedInfo();
            });
            

            
        })
</script>
{% endblock js %}  